.NewCallPageRoot{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.DarkModeShadow{
    box-shadow: var(--app-home-card-shadow);
}

.MainPageCard{
    margin: 8px;
    padding: 10px;
}

.NewPageCardContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.NewPageCardContentLines{
    margin: 8px;
    text-align: center;
}

.NewPageCardContentIcon{
    margin: 5px;
    margin-right: 10px;
}

.CallPageRoomName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1px 6px 2px 16px;
    margin: 8px;
    border-radius: 8px;
    background-color: var(--ion-color-step-50);
    border: 1px solid grey;
}

.CallPageCardContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 210px;
    text-align: center;
}

.InCallAvatar{
    height: 170px;
    width: 170px;
    border-radius: 85px;
    background-color: rgba(56, 128, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.LoadingSpinner{
    margin: 20px;
    height: 100px;
    width: 100px;
    margin-top: 30px;
}

.CallPageCopyButton{
    margin: 0px 3px 0px 18px;
}

.ControlBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body{
    --mute-button-border: none;
}

body.dark{
    --mute-button-border: 2px solid grey;
}

.MuteButton{
    margin: 0px 10px 0px 15px;
    --background: red;
    border-radius: 50px;
    border: var(--mute-button-border);
}

.ExitCallButton{
    height: 50px;
}